.last-section {
    background-image: url(../images/background-man.png);
    width: 1770px;
    height: 731px;

}

.last-section-heading {
    margin-left: 690px;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

.last-section-txtbox {
    width: 1107px;
    height: 287px;
    margin-top: 91px;
    margin-left: 331px;
    background-color: #333333;

}

.man-div {
    float: left;
}

.sam-sumon {
    margin-left: 62px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: white;
}

.sam-sumon-txt {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: white;
    
    line-height: 26px;

}