body {
    background-image: url(../images/mountains.png);
    background-repeat: no-repeat;
    
   
}


.header {
    width: 372px;
    height: 76px;
    margin-top: 264px;
    margin-left: auto;
    margin-right: auto;
   
}

.title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    color: white;
}

.header-txt {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 6.82px;
    color: white;
}

.search-box {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.search {
    width: 653px;
    height: 63px;
    margin-left: auto;
    margin-right: auto;
    
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.8px;
    color: #999999;
}

.submit-btn {
    width: 153px;
    height: 63px;
    margin-left: auto;
    margin-right: auto;
    background-color: #5474FD;
    border: none;
    color: white;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.scroll-down-div {
    width: 108px;
    height: 46px;
    margin-top: 108px;
    
    margin-left: auto;
    margin-right: auto;
}

.scroll-btn {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.8px;
    color: white;
    background: none;
    border: none;
}
.scroll-btn:hover, .submit-btn:hover, .nav-links:hover {
    font-size: 18px;
}

.nav-bar {
    background-color: #5474FD;
    height: 80px;
    width: 1500px;
    display: flex;
}

.nav-logo {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: white;
}




.link-1, .link-2, .link-3, .link-4 {
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    justify-content: space-between;
    
}

.second-page-txt {
    margin-top: 212px;
    margin-left: 330px;

}

.WCU-txt {
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: grey;
}

.SP-txt {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 1.6px;
    color: grey;
}

.explore-places {
    
    margin-top: 48px;
    margin-left: 328px;
}

.explore-places-btn {
    width: 228px;
    height: 63px;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: flex-start;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color:white;
    background-color: #5474FD;
    border: none;
}

.house-water-div {
    margin-top: 0px;
    margin-left: 1000px;
}

.mountain2 {
    margin-left: 1105px;
}

.third-section {
    background-image: url(../images/modern-house.png);
    height: 700px;
    width: 1770px;
    
}

.TS-textbox {
    margin-left: 328px;
    width: 543px;
    height: 374px;
    opacity: 90%;
    background-color: #232323;
    
    align-items: flex-start;
}

.spain {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    color: #E8E8E8;
}

.grand-spain-madrid {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    
    color: #E8E8E8;
}

.spain-txt {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #E8E8E8;
}

.spain-btn {
    width: 228px;
    height: 63px;
    background-color: #5474FD;
    color: white;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 1.2px;
    border: none;
}

.fourth-section {
    background-image: url(../images/sunset.png);
    height: 700px;
    width: 1770px;
}

.FS-textbox {
    margin-left: 900px;
    width: 543px;
    height: 374px;
    opacity: 90%;
    background-color: #232323;
    
    align-items: flex-start;
}

.spain2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    color: #E8E8E8;
}

.grand-spain-madrid2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #E8E8E8;
}

.spain-txt2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #E8E8E8;
}

.spain-btn2 {
    width: 228px;
    height: 63px;
    background-color: #5474FD;
    color: white;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 1.2px;
    border: none;
}








