body {
    background-image: url(../images/mountains.png);
    background-repeat: no-repeat;
}

.header {
    width: 372px;
    height: 76px;
    margin-top: 264px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    color: white;
}

.header-txt {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 6.82px;
    color: white;
}

.search-box {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.search {
    width: 653px;
    height: 63px;
    margin-left: auto;
    margin-right: auto;
    
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.8px;
    color: #999999;
}

.submit-btn {
    width: 153px;
    height: 63px;
    margin-left: auto;
    margin-right: auto;
    background-color: #5474FD;
    border: none;
    color: white;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    float: right;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.scroll-down-div {
    width: 108px;
    height: 46px;
    margin-top: 108px;
    margin-left: auto;
    margin-right: auto;
}

.scroll-btn {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.8px;
    color: white;
    background: none;
    border: none;
}

.scroll-btn:hover, .submit-btn:hover, .nav-links:hover, .explore-places-btn:hover {
    font-size: 18px;
}

.nav-bar {
    margin-top: 134px;
    background-color: #5474FD;
    margin-left: -8px;
    height: 80px;
    width: 1770px;
    display: flex;
}

.nav-logo {
    margin-left: 319px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: white;
}

ul {
    display: inline;
    float: right;
}

.link-1, .link-2, .link-3, .link-4 {
    
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    justify-content: space-between;
}

.second-page-txt {
    margin-top: 75px;
    background-image: url(../images/second-page-bg.png);
    width: 1770px;
    height: 685px;
    margin-left: -7px;
}

.WCU-txt {
    margin-left: 330px;
    margin-top: 0px;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: white;
}

.SP-txt {
    margin-left: 330px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 1.6px;
    color: rgb(255, 255, 255);
}

.explore-places {
    
    margin-top: 48px;
    margin-left: 328px;
}

.explore-places-btn {
    width: 228px;
    height: 63px;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: flex-start;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color:white;
    background-color: #5474FD;
    border: none;
}

.house-water-div {
    margin-top: 0px;
    margin-left: 1000px;
}

.mountain2 {
    margin-left: 1105px;
}

.how-it-works {
    margin-top: -5px;
    margin-left: -10px;
}

.third-section {
    background-image: url(../images/modern-house.png);
    height: 700px;
    width: 1770px;
}

.TS-textbox {
    margin-left: 328px;
    width: 543px;
    height: 374px;
    opacity: 90%;
    background-color: #232323;
    align-items: flex-start;
}

.spain {
    
    margin-left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    color: #E8E8E8;
}

.grand-spain-madrid {
    margin-top: 23px;
    margin-left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #E8E8E8;
}

.spain-txt {
    margin-left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #E8E8E8;
}

.spain-txt-div {
    
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #E8E8E8;
    margin-top: 13px;
}

.spain-btn {
    margin-top: 46px;
    margin-left: 30px;
    width: 228px;
    height: 63px;
    background-color: #5474FD;
    color: white;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 1.2px;
    border: none;
}

.fourth-section {
    background-image: url(../images/sunset.png);
    height: 700px;
    width: 1770px;
}

.FS-textbox {
    margin-left: 900px;
    width: 543px;
    height: 374px;
    opacity: 90%;
    background-color: #232323;
    
    align-items: flex-start;
}

.spain2 {
    margin-left: 32px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    color: #E8E8E8;
}

.grand-spain-madrid2 {
    margin-top: 23px;
    margin-left: 32px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #E8E8E8;
}

.spain-txt2 {
    margin-top: 30px;
    margin-left: 32px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #E8E8E8;
}

.spain-btn2 {
    margin-top: 46px;
    margin-left: 28px;
    width: 228px;
    height: 63px;
    background-color: #5474FD;
    color: white;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.2px;
    border: none;
}

.spain-btn:hover, .spain-btn2:hover {
    font-size: 20px;
}

.last-section {
    background-image: url(../images/background-man.png);
    width: 1770px;
    height: 731px;
}

.last-section-heading {
    margin-left: 690px;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

.last-section-txtbox {
    width: 1107px;
    height: 287px;
    margin-top: 91px;
    margin-left: 331px;
    background-color: #333333;
}

.man-div {
    float: left;
}

.sam-sumon {
    margin-left: 62px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: white;
}

.sam-sumon-txt {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: white;
    line-height: 26px;
}

.footer {
    width: 1770px;
    height: 271px;
    background-color: #232323;
    align-items: center;
    text-align: center;
}

.footer-box {
    margin-top: -30px;
    align-items: center;
    text-align: center;
}

.footer-logo {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 3.36px;
    color: white;
}

.footer-txt {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1.6px;
    color: white;
}